@font-face {
  font-family: "Baloo";
  src: url(/Baloo_2/Baloo2-VariableFont_wght.ttf);
}

* {
  font-family: "Baloo";
  //   background-color: #272727;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #272727;
  button {
    cursor: pointer;
  }
}
.animation-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;

  section.animation {
    // border: 2px red solid;
    margin-top: 10vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div.image {
      width: 100%;
      height: 0vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  div.silder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(144, 144, 144), rgb(0, 0, 0));
    z-index: -1;
  }
}
body {
  text-align: center;
  section.animation {
  }
  header {
    nav {
      box-shadow: 0 8px 6px -6px black;
      padding: 0.5rem;
      ul {
        display: flex;
        list-style: none;
        li {
          a {
            text-decoration: none;
            font-size: 1.15rem;
            padding: 0px 1rem;
            &:hover {
              color: yellow;
              font-size: 1.3rem;
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
  main {
    margin: 10px;
    section.main-part {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      h1 {
        font-size: 2.5rem;
      }
      section.sort-button {
        button {
          background-color: white;
          color: black;
          width: 110px;
          border-radius: 5px;
          padding: 5px;
          margin: 0px 10px 10px 0px;
        }
      }

      section.main-form {
        form.form1 {
          input {
            background-color: white;
            color: black;
            border-radius: 5px;
            padding: 4px;
            margin: 5px;
          }
        }
        select#score {
          background-color: white;
          color: black;
          padding: 0px 3px;
        }
        button.trash {
          background-color: #272727;
          border: none;
          font-size: 1.5rem;
          margin: 5px;
        }
      }

      #add {
        border: none;
        margin: 20px auto;
        i {
          font-size: 2.5rem;
        }
      }
      div.result {
        border: 2px red solid;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        animation-name: color_change;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        p {
          // border: 2px red solid;
          font-size: 1.2rem;
        }
        h2 {
          // border: 2px red solid;
          font-size: 3rem;
        }
      }
    }
  }
}

// form.remove {
//   transform: scale(0);
//   transition: all 0.5s ease;
// }
@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes color_change {
  0% {
    border-color: red;
  }
  33% {
    border-color: lightgreen;
  }
  66% {
    border-color: yellow;
  }
}
